.center {
  text-align: center;
}

.full-width {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.width-800 {
  width: 800px
}

.about-us {
  text-align: left;
  width: 800px;
  color: blue;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3.menu {
  text-align: center;
  width: 800px;
  color: lightseagreen;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4.menu {
  text-align: left;
  width: 800px;
  color: brown;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 120px;
  line-height: 2px;
  margin-bottom: -8px;
}

p.menu {
  width: 800px;
  color: blue;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 150px;
}

.section-header {
  font-size: x-large;
  color: purple;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-text {
  color: blueviolet;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
}

.padding-left {
  padding-left: 120px;
}