/* selects all elements with class="center" */
.center {
  text-align: center;
}

.full-width {
  width: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.width-800 {
  width: 800px
}

.about-us {
  text-align: left;
  width: 800px;
  color: blue;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}